<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="aboutUsSideMenu">
            <div class="panel-body">
                <ul class="nav nav-pills flex-column text-sm">
                    <li class="nav-item"><a th:href="@{/about/about-accion}" class="nav-link active">Accion Values</a></li>
                    <li class="nav-item"><a th:href="@{/about/board-of-directors}" class="nav-link">Board of Directors</a></li>
                    <li class="nav-item"><a th:href="@{/about/management-team}" class="nav-link">Management Team</a></li>
                    <li class="nav-item"><a th:href="@{/about/accion-partners}" class="nav-link">Accion Partners</a></li>
                    <li class="nav-item"><a th:href="@{/about/accion-financial}" class="nav-link">Our Financial</a></li>
                    <li class="nav-item"><a th:href="@{/about/privacy-policy}" class="nav-link">Privacy Policy</a></li>
                    <li class="nav-item"><a th:href="@{/about/terms-of-use}" class="nav-link">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>