<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}">Accion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="~{header :: accionMFBHeader}"></div>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="h5">Events</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">News and Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <section id="pwcInspireAfrica" class="bg-light wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/inspireAfrica.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Companies To Inspire Africa</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Price Water Coopers (PWC) 2018/04/20</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Companies To Inspire Africa</h1><hr/>
                        What have been the biggest opportunities for your company since 31 March 2017? Since 31 March, 2017, we’ve seen more funding opportunities from multilateral and development institutions. We obtained 500 million from an international bank in July 2017, which has allowed us to offer more financial services to the financially underserved and excluded individuals. In November 2017 we obtained 1 billion from a Development Finance Institution, which has permitted us to increase the bank’s penetration in lending to micro, small and medium-sized enterprises, and we continue to pursue funding sources to permit us to achieve our objectives.
                        <br/><br/>
                        We are looking to partner with Fintech companies to drive digital lending. We now have a partner that has allowed us to reach more clients online. We’ve now disbursed over 75m to over 5000 new clients through digital lending. The intention is to acquire 50,000 new clients in 2018 and service them through our own digital platform.
                        <br/><br/>
                        We always seek opportunities to automate our key processes and customer experience. The bank has deployed an automated credit processes through Digital Field Application (DFA) to enhance credit appraisal turn-around time. More than 400 account officers are currently using the field tablets in routing credit requests of customers to the Credit Processing Credit (CPC) who respond in a timely manner. This has greatly improved efficiency and reduced turnaround time in the loan approval process.
                        <br/><br/>
                        What have been the key drivers of the growth of your company? Several factors continue to contribute to the growth of Accion. These include our strong management team, continued focus on automation, growth in our distribution centres, and deploying innovative products and services.
                        <br/><br/>
                        What challenges has your industry/region faced last year and how have you managed to deal with them? Nigeria emerged from an economic recession in 2017 and that had a tremendous impact on Accion. The period of economic doldrums affected businesses negatively thereby slowing disbursement and loan portfolio growth. Many clients could not renew their loans and others allowed their facilities to go bad. We managed this by focusing our disbursements more on the essential sectors of economy. We used the recession as an opportunity to enhance our processes and procedures, for example, we registered two reputable credit bureau for credit checks on our platform as an additional process for loan approval.
                        <br/><br/>
                        Increased regulation also continues to impact our business. The new Central Bank of Nigeria’s guide to bank charges moderated what banks earn from charges. Within the ambit of the new guide, we made some changes to our charges.
                        <br/><br/>
                        What is the significance of the recent fundraising close? The loan facility from Citibank came in local currency, which does not have any form of exchange risk. This funding will enable the Bank to expand its financial services to a larger number of micro entrepreneurs across the country leading to economic empowerment and job creation for more Nigerians. In order words, it helps Accion MfB achieve its passionate drive for financial inclusion in Nigeria’s economic space.
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="bestWorkingPlace" class="bg-white wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MFB Is Among The Best Working Places</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Jobberman - 2017-03-20</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Accion MfB Named Among The Best Working Places</h1><hr/>
                        Accion Microfinance Bank named amongst the best 100 places to work in Nigeria, by Jobberman.
                        <br/><br/>
                        It is a testament to the caliber of staff that we have (past & present) in the organization that they are able to aptly articulate and rightly assess the substance of an organization like Accion Microfinance Bank Limited. This accolade has everything to do with the valued members of our organization, the Management and Board Members who have continued to support policies that help to bring out the best in us all at Accion MfB.
                        <br/><br/>
                        This independent study conducted by Jobberman had respondents from various industries and it is doubly exciting that we are the only Microfinance bank named and ranking higher than some Commercial banks and other larger Organizations in Nigeria. It is one of the most meaningful awards to be named amongst the best 100 companies to work in Nigeria as this recognizes the value the bank places on our staff.
                        <br/><br/>
                        We are committed to making the future bright for all stakeholders including our employees.
                        <br/><br/>
                        You can read more at : https://www.jobberman.com/blog/jobberman-best-100-companies-work-nigeria-2016/

                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="easyBanking" class="bg-light wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Banking In The Easiest Way</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, Lagos 2016/08/17</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Banking In The Easiest Way</h1><hr/>
                        Accion Microfinance Bank, Nigeria has launched a new USSD mobile banking solution to make banking easier, simpler and interesting for all its customers at the bottom of the pyramid who may not afford smartphones.
                        <br/><br/>                                              
                        This is an innovative but yet simple solution launched in partnership with Interswitch (a national Switching platform) called “Brighta 143” uses *322*143# short code. This code allows anyone with a mobile phone to do transactions such as buy airtime, transfer money, pay bills, check balance anytime and anywhere. It also conveniently performs third party transfers to both Accion MfB and other bank account holders in Nigeria.
                        <br/><br/>
                        The Unstructured Supplementary Service Data (USSD) Brighta 143 banking solution enables Accion MfB customers to perform financial transactions on all mobile phones, without having to go on the net or download any mobile apps. The adoption of this technology allows customers to do a lot of banking transactions even on the most basic of mobile phones. The service allows every banking customer to access banking services with a single number irrespective of the telecom service provider, mobile handset make or the region.
                        <br/><br/>
                        To initiate fund transfers to an Accion MfB account, simply dial *322*143*1*Amount*NUBAN Account No# e.g. *322*143#1*2000*1234567890# from the mobile number registered with the Bank. For transfers to beneficiaries in other Bank’s (Deposit Money Bank & MFBs), customers should simply dial *322*143*2*Amount*NUBAN Account No# e.g. **322*143#2*1000*1234567890#. Some of the other transactions that can be performed are: account balance enquiries (*322*143*0#); airtime purchase (*322*143*Airtime Amount*Mobile Number#). *322*143# transactions can only be performed from the phone number registered against a customer’s account with Accion Microfinance Bank and require a 4-digit PIN for transaction authentication for third party transactions. 
                        <br/><br/>
                        The USSD banking solution, Brighta 143 will complement the physical channels such as ATMs and POS devices, it is already well accepted among its teeming and ever growing customers. It positions the Accion Microfinance Bank for future growth and expansion as it continues deepen its markets outside Lagos and the use of mobile phones becomes the new and preferred banking channel. The *322*143* Transfer service is only available to Accion MfB customers via their mobile phone numbers registered with the Bank and has minimum transfer limit of N1,000 and a daily transfer limit of N20,000.Customers can easily carry out banking activities anytime, anywhere, from the comfort of their mobile phones.
                        <br/><br/>
                        The bank is recognized as one of the most innovative financial and high technology use institutions in Nigeria. This will complement the efforts of the Central Bank of Nigeria (CBN) to build a cashless economy and enhance financial inclusion.
                        <br/><br/>
                        Accion MfB is poised to leverage on technology to make banking transactions especially payments and transfers, faster, safer and more convenient and effective for all our customers as the service fit into the status and lifestyle of the customers because it works irrespective of the phone type”.
                        For further enquires, complaints and suggestions, customers can contact 01-2951010 for prompt resolution. Alternatively, they can also send an email to info@accionmfb.com , follow the Bank on Facebook at www.facebook.com/accionmfb, Twitter at twitter@accionmfb, or simply walk into any of our branches nationwide.
                        <br/><br/>
                        Marketing Communications Department
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="anambraOyo" class="bg-white wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB Takes Financial Inclusion To Anambra & Oyo States</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2016/01/8</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Accion Financial Inclusion</h1><hr/>
                        Accion MfB limited, the multiple awards winning microfinance bank is highly delighted to announce its entry into Anambra and Oyo states in this month of August 2016.  The bank is set to commence operations in the two cities of Onitsha and Ibadan owing to the commercial viability of the cities.
                        <br/><br/>
                        Accion Microfinance Bank limited, a leading microfinance bank in Nigeria was licensed by Central Bank of Nigeria and it started operation in 2007 with a mission of targeting the financially excluded with financial services in a sustainable, ethical and profitable manner.  The bank became a national microfinance bank and licensed as such in December 2014 having met the minimum capital requirement as prescribed by the CBN.
                        <br/><br/>
                        With its solid shareholder investments from Accion International and three major banks – Ecobank, Zenith Bank and Citi Bank – as well as International Finance Corporation (IFC), a subsidiary of the World Bank.  The bank since inception, has disbursed about NGN 50Billion easy – to- access loans to about 250, 000 people.
                        <br/><br/>
                        The bank currently operates 34 branches and  now exists in Ogun and Rivers States where its offering  variety of financial services and products ranging from savings, current, fixed deposit accounts, micro loans, Asset Loan, SME- small and medium enterprises loans, insurance and e- channels which will definitely lend hand to government efforts in alleviating poverty among the low income earners and people in the bottom of the pyramid and offer other socio- economic benefits to the host community.
                        Accion Microfinance bank looks forward to this important milestone as it heralds the delivering the ‘brighter future’ to its teeming and growing clients by economically empowering them to fulfill their business dreams in these respective states.

                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="oneBillion" class="bg-light wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB In - Branch POS Reaches N1billion Value</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2016/07/16</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Accion Branch POS Reaches N1billion Value</h1><hr/>
                        Accion Microfinance Bank, the multi award winning leading microfinance in Nigeria has added yet another feather to its cap hitting the mark of N1Billon values of transactions processed through the In-Branch Point of Sales (POS) devices.
                        <br/><br/>
                        The Managing Director, Ms Bunmi Lawson announced this in the recent Half year review meeting. In her word she said “this is the first time we have managed to break this ceiling in a single month and this has assuredly set us on the increase mode”. She added that the Bank has been able to achieve this N1 Billion with an approximate of over 14, 500 Branch Transactions in the same period.
                        <br/><br/>
                        Accion MfB always seeks to leverage on technology to enhance the ease of financial access through a simple, convenient and quick platforms and channels. To this end, the In-branch POS devices were deployed in our branches in August 2015 to allow customers to conduct faster Cash Deposits and Withdrawals at the Teller points. This is a paperless operation which makes it more cost effective as it also provides faster turnaround (shorter queues). This is a significant milestone in our drive to ensure process efficiency and superior service delivery; she reinstated.
                        <br/><br/>
                        The MD/CEO also added  that in the course of the year, “we continued to leverage on technology as a major driver of the Bank’s expansion strategy to enable us achieve our objective of getting things done easily, quickly and rightly”. She expressed that the Electronic document management system (EDMS) is intended to enhance better data management which is meant to support the National expansion strategy. Other projects include the pilot run of the DFA (Digital Field Application) initiative which is intended to create efficiency in our data capturing in the loan process.
                        <br/><br/>
                        She said that ‘Accion MfB is committed to actualizing our mission to economically empower micro entrepreneurs in Nigeria, by ensuring  that  they have easy access to financial services and benefit in the brighter future  as the Bank is set to  making multiple entry into Anambra and Oyo States states of the country simultaneously in line with the national expansion strategy.
                        <br/><br/>
                        She congratulated all Branch Managers, Operations Staff and all the Accion MfB Team for this success as they encourage all our customers to use the In-branch POS and our debit card.
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="oneBillion" class="bg-white wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MFB Holds Her 10th AGM: Reinforces Commitment To Extending ‘Boundaries’</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2016/10/6</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Accion MfB 10th AGM</h1><hr/>
                        Accion MfB limited held her 10th Annual General Meeting (AGM) on the 10th June, 2016 at the Protea Hotel, Ikeja Lagos. The Chairman Mr Patrick Akinwuntan, presented a review of the financial year ended 31st December 2015. He expressed that the economic landscape for 2015 remained resilient with dwindling global crude oil prices coupled with the security challenges. He commented that “The Bank’s performance continued to be positive in line with the vision of being the market leader in ensuring that Nigerians are financially included.
                        <br/><br/>
                        The Chairman added that ‘we are committed; never like before to extending the ‘boundaries’ on all fronts despite of the challenging atmosphere”. He said “Accion Microfinance Bank’s key performance indicators remained encouraging as the total loan portfolio grew by 28.1% to N5.4bn while the total loans disbursed grew by 33.3% to N13.7bn culminating to the total loan disbursed from inception to the end of December 2015 standing at N46.56bn. The active borrowers grew by 27.9% to 43,788 and number of savers grew by 38.2% to 120,000 leading to the shareholders’ funds growth of 16.9% to N3bn in 2015.
                        <br/><br/>
                        He mentioned that though, the Bank had a slight drop in profit after tax to N546 million occasioned primarily by increased investments in people and infrastructures as the Bank seeks to expand the operational base into other states of the country in line with the National Expansion strategy of the Bank.  
                        <br/><br/>
                        Mr Patrick Akinwuntan added that ‘In 2015, we deepened our market in Lagos by opening 7 branches in Lagos and had our first foray outside Lagos with the commencement of Mile 1 in Port Harcourt, Rivers State’.  In 2016, we continued our strategy of extending the boundaries of our operations to other states as well as increasing our presence in Lagos State. In his word, the chairman enthused that ‘I am pleased to inform you that we now have operational branches in Ogun State in addition to Lagos and Rivers State and the Bank is prime to commence banking operations in Oyo and Anambra States few weeks from now.
                        <br/><br/>
                        In her address,  the MD/CEO of the Bank, Ms Bunmi Lawson expressed that the Bank has invested in technology to offer customers a new paradigm in banking as it regards ease of access and enhanced customer experience. She added that ‘we have continued to leverage on technology as a major driver of the Bank’s expansion strategy to get things done easily, quickly and rightly’. The Bank has deployed the Electronic document management system (EDMS) to enhance better data warehousing and management, a pilot run of DFA (Digital Field Application) initiative to create efficiency in our data capturing in the loan process and central credit processing centre with a centralized processing of loans. She said that ‘this is a significant step in actualizing our mission to economically empower micro entrepreneurs in Nigeria, ensure they have easy access to financial services and benefit in the brighter future which is the hallmark of Accion MfB.
                        <br/><br/>
                        The Chairman concluded by expressing his appreciation to the entire staff, management and his colleagues on the Board for their commitment, and selfless service, which has enabled the Bank to deliver these results. He also thanked the esteemed customers, for their unalloyed loyalty’. He charged that ‘Together we will continue to create a brighter and better future.
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="ogunBranch" class="bg-light wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB Opens two branches in Ogun State</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2016/05/12</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Accion MfB Open New Branches</h1><hr/>
                        Accion MfB limited, the leading and  multiple awards winning microfinance bank debuts in Ogun State by the opening two branches to economically empower the low income earners and the people at the bottom of the pyramid. The bank opened the branches at Sango Otta, a popular industrial area of the state and Akute, an upcoming commercial area. The entry to Ogun State was heralded by the formal opening of the Sango Ota branch.
                        <br/><br/>
                        ACCION Microfinance Bank Limited (Accion MfB) commenced operation in 2007, It was granted license by the Central Bank of Nigeria as a National Microfinance bank in 2014 with very strong shareholders including three of the leading Commercial banks in Nigeria: Zenith Bank, Ecobank and Citibank, as well as other global financial institutions: IFC, a member of the World Bank, and ACCION Investments in Nigeria ably complemented by the expertise of our technical partners, ACCION International.  
                        <br/><br/>
                        The Managing Director of Accion Microfinance Bank, Bunmi Lawson  at the  event of the bank in Sango Ota said ‘The bank is set to offers its variety of financial services and products ranging from savings, current, fixed deposit accounts, micro loans, Asset Loan, SME- small and medium enterprises loans, insurance and e- channels. She expressed that this is an initiative meant not just to  lend hand to government efforts in alleviating poverty among the low income earners and people in the bottom of the pyramid but will also offer other socio- economic benefits to the host community.
                        In her words, she enthused that the bank’s long awaited commencement in Ogun state will further re-enforce the bank’s capacity to serve the teeming and growing customers in line with the mission ‘to economically empower micro-entrepreneurs and low income earners by providing financial services in a sustainable, ethical and profitable manner as it also envisioned to be the market leader in the provision of microfinance and related financial services, at world class standards.
                        <br/><br/>
                        The Honourable Commissioner of Finance for Ogun state who was the special guest of honour in the epic event commended Accion Microfinance bank for the enviable feat since inception in empowering the microenterpreneurs and particular happy that coming to Ogun state. He said ‘ that this is seen as a positive step in a  positive direction in a time when the  government of Ogun state is developing  a strong private public partnership in key sectors of the economy having  identified  agriculture  and micro, small and medium  enterprenuership (MSME) as the key drivers of growth, wealth creation and poverty alleviation.
                        The Managing Directors also proudly expressed that Accion Microfinance bank currently operates 31 branches in Lagos and 2 in Port Harcourt.   Having disbursed over NGN 50Billion easy – to- access loans to about 227 thousand  people since inception, the bank is prime to grow its branches upto 10 (ten) in Ogun state before the end of 2017 and aggressively make inroad into additional  states this year in line with its national expansion strategy.
                        <br/><br/>
                        Some of the eminent personalities that grace the occasion include Chief Mrs. Alice Obasanjo, the wife of former President of Nigeria, Chief Olusegun Obasanjo. Ogun State Commissioner of Finance, Government dignitaries, Royal fathers and mothers, market leaders etc.
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="disabledPeople" class="bg-white wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB empowers the diable people</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2016/05/12</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Acion MfB Empowers Diable People</h1><hr/>
                        ACCION MICROFINANCE PROMOTES AND ECONOMICALLY EMPOWERS THE DIABLED PEOPLE.
                        ‘For every disability you have you are blessed with more than enough abilities to meet your challenges’ …………….Nick Kujicit
                        According to the world record, over 1 billion people, about 15% of the world’s population have one disability or the other in which 80% of these live in Africa. Research work indicates that the disabled people face significant financial challenges; they are more likely to be unemployed, be low paid and twice as likely to be living in persistent poverty and that they are likely not to have savings or bank accounts than non-disabled people.
                        <br/><br/>
                        Accion microfinance bank sharing the sentiment of the quote above moved to economically empower the disabled people introduce a product for people living with disabilities. The product is meant as to enable the economically active ones that are financially excluded to make self-sustaining economic contributions and better their fortunes in life.  Accion MFB has put in place frameworks to ensure that persons with disabilities enjoy equal and fair access to quality financial products and services.
                        Accion Microfinance Bank limited, a leading microfinance bank in Nigeria was licensed by Central Bank of Nigeria and it started operation in 2007 with a mission of targeting the financially excluded with financial services in a sustainable, ethical and profitable manner.  The bank became a national microfinance bank and licensed as such in December 2014 having met the minimum capital requirement as prescribed by the CBN.
                        <br/><br/>
                        Accion Microfinance Bank launched the People Living with Disabilities
                        (PWLD)  product with the support of the Central Bank of Nigeria in 2015.
                        The product is targeted at persons with disabilities who have a desire and ability to be economically active and can tap into the power of financial services to unleash their potential and build self-sufficiency.
                        The product is meant to provide loans to a marginalized group that has largely been left out of the financial system – people with disabilities (PWD). To mark the occasion, some of the first clients of these loans including a member of the albino community and visually impaired clients attended an opening ceremony, which also included officials from the Central Bank of Nigeria (CBN).
                        The PLWD launch was the result of close collaboration across organizations and continents. CFI’s Joshua Goldstein and Bunmi Lawson, Managing Director/CEO of Accion Microfinance Bank, met with officials from the Central Bank of Nigeria to garner their support. In addition, CFI’s PWD team in India, including CFI partner v-shesh, advised Accion Microfinance Bank.  The product is specially designed to provide a product that was specially designed to provide financial services to the economically active disabled. This product was subsidized by CBN with 220m MSME Development Fund with a very low interest rate without administrative fee meaning that the cost of funds is almost next to nothing as compared to applicable interest charge on regular products.
                        The product pilot run was carried out in 4 branches over a period of 6 months. Both individual and focus group were undertaken. The product development was quite unique and challenging from the research level which involve the rigorous fact finding missions and include the training of the staff of the bank. The uniqueness of the product calls for the distinct assessment criteria which are
                        •    Physical observation are documented by Loan Officers during evaluation (visually, hearing, speech and mobility impaired).
                        •     Determine available means of support to meet the required documentations to the loan either from association, relatives/friends and business environment of clients
                        •    Proof of membership of relevant association
                        •    The clients must be asked if he/she can read, write or do both and all information gathered should be documented by LO during evaluation.
                        •    Exceptional approval on disbursement and collections.
                        <br/><br/>
                        The general requirement for loan was simplified as
                        -    Must be a Nigerian citizen and staying in Lagos
                        -    Aged – between 18 and 65 years.
                        -    Valid passport , Identity card or recommended letter
                        -    Must have been in business for a minimum of 6 – 12 months
                        -    Must have an identifiable and  verifiable  business address
                        -    The business must be adjudged viable to pay back the loan & empower borrower.
                        -    Must have an acceptable social guarantor.
                        -    A compulsory deposit of 20% is required for all categories of first loans.
                        <br/><br/>
                        The product was specifically designed to inculcate both our Individual and Group lending methodologies. In other words, credible clients can collect loans either individually or as a group. The interest rate of 9% on loan amount of 50,000 – 399,999 with a monthly repayment for individual while the group loan amount is N12,500 to N50,000 with a weekly repayment terms.
                        <br/><br/> 
                        There exists a huge untapped market in this segment of the populace, therefore there is need to understand the different disabilities that abound in this sector.
                        <br/><br/>
                        Accion Microfinance bank looks forward to this important milestone as it heralds the delivering the ‘brighter future’ to its teeming and growing clients by economically empowering them to fulfill their business dreams.
                        <br/><br/>
                        Key Challenges
                        Some of the key challenges are
                        •    Sales Approach – the approach is quite different from the conventional customers as the client’s needs some support and waivers on the KYC and other documentation and disbursement requirement. The delinquency issue is a major albatross of the products. Most of the people reckon it to be one of the government largesse and for people that have hearing impairment, communication is at challenge however the product has shown excellent performance by the clients with zero PAR
                        Next Line of Action
                        •    There is a drive to reach more credible PLWD’s as possible as we intend to work closely with different disability organization     Association such as Nigerian Association of the Blind (NAB), Joint Association Of People Living With  Disabilities  (JONAPWD and The Albino Foundation).
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="disabledPeople" class="bg-light wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB opens new branch in Port Harcourt</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2015/10/25</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">New Accion Branches In Port Harcourt</h1><hr/>
                        Port Harcourt, Nigeria. 20 October 2015. Accion Microfinance Bank, one of Nigeria’s leading microfinance banks, has formally opened its new branch in Port Harcourt, Rivers State. The Port Harcourt Branch, the first outside Lagos, is in realisation of the bank’s national expansion programme. Accion Microfinance Bank is expanding across Nigeria to further provide professional financial services to customers mainly in the lower strata of society who are unbanked or do not have access to regular banking services.
                        <br/><br/>
                        Declaring the Port Harcourt Branch open, Accion Microfinance Bank Managing Director/CEO Mrs Bunmi Lawson said, “We have consistently transformed our customer’s businesses by giving them easy access to loans and other financial services. This is the value we bring to Rivers State. We will continue to serve our customers to give them a brighter future”.
                        <br/><br/>
                        At the branch opening event, several guests and small business owners in the immediate vicinity took the opportunity to open accounts with the bank. Officers of the bank were on hand to introduce the bank’s products and services. Commending the bank on the opening of the Port Harcourt Branch the Rivers State deputy Governor Dr. Mrs. Ibalibo Harry Banigo who was represented by the Senior Special Assistant Barrister Gilbert Nirai, said the Rivers State government would create an enabling environment and support microfinance activity in the State.
                        <br/><br/>
                        The event was also attended by residents in the area, community leaders, market leaders, traders and trade associations from Mile 1 and neighboring markets. 
                        <br/><br/>
                        Established in 2007, Accion Microfinance Bank has solid shareholder investments from Accion Investments, three major banks – Ecobank, Zenith Bank and Citi Bank – as well as the International Finance Corporation, who is a member of the World Bank; all of which contributes to its strong financial base and allows it to service an ever-increasing number of customers.  With a current customer-base of over 168,000, a fully paid-up share capital of N1.205 billion by December 2014 and total assets of over N3.06 billion in the same year, Accion Microfinance Bank has disbursed over N38.5bn in loans to more than 36,000 customers since inception.
                        <br/><br/>
                        The opening of a new branch in Port Harcourt further emphasizes Accion Microfinance Bank’s mission to economically empower micro-entrepreneurs and low income earners by providing financial services in a sustainable, ethical and profitable manner thus improving the socio-economic well-being of Nigerians. It also demonstrates the bank’s commitment to financial inclusion in the country. Accion Microfinance Bank has 28 branches in Lagos.
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <section id="disbursementToDisabled" class="bg-white wow zoomInUp" data-wow-delay="0.2s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="padding-top:20px;">
                        <div class="card" style="width: 18rem; text-align: center;">
                            <img class="card-img-top" th:src="@{/img/media/.jpg}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Accion MfB Disburses Loans to People Living With Disability</h5>
                                <p class="card-text"></p>
                            </div>
                            <footer class="blockquote-footer">Marketing Communications Department - Accion MfB, 2015/09/30</footer>
                        </div>
                    </div>
                    <div class="col-sm-9 text-sm" style="text-align: justify; padding: 50px; padding-top:20px;">
                        <h1 class="h5 text-lg-center text-uppercase">Disbursement To Disable People</h1><hr/>
                        Lagos, Nigeria. 30th September 2015. Accion Microfinance Bank, one of Nigeria’s leading microfinance banks, has begun the disbursement of the loans to people living with impaired disability with a new product called PLWD. The disbursement of loans to people living with impaired disability is made possible with the Micro, Small and Medium Enterprises Development Fund (MSMEDF) from the Central Bank of Nigeria (CBN).
                        <br/><br/>
                        According to the bank, the product appropriately named PLWD (People Living With Disability) which aims to give loans to persons with impaired disability, aligns closely with the bank’s strategy for creating brighter futures for her customers. This is achieved by giving them the opportunity to improve their socio-economic wellbeing with loans to enhance their businesses. This, the bank believes promotes growth and development which is a viable factor towards achieving financial inclusion as well as the millennium development goals.
                        <br/><br/>
                        Speaking at a ceremony which took place at the Ikorodu Branch of Accion Microfinance Bank to mark the commencement of the disbursement of the PLWD loan, Mrs Bunmi Lawson MD/CEO Accion Microfinance Bank said, “Many people living with impaired disability are financially excluded. We are pleased to be able to give them the opportunity to improve their means of livelihood to give them a brighter future”. 
                        <br/><br/>
                        The first PLWD Loans were received by Mrs. Josephine Omolola of the Albino Community, Mrs. Margaret Nmezi who is visually impaired and four other persons who are also visually impaired. The event was attended by CBN officials including Mr Jonathan Tobin, Assistant Director MSMED Fund who expressed his satisfaction that Accion Microfinance Bank was utilizing the MSMED Funds for a great cause and commended the bank for its commitment to financial inclusion. Also in attendance was Mrs. Temitope Akin-Fadeyi Head, Financial Inclusion Secretariat of the CBN. 
                        <br/><br/>
                        Speaking on behalf of the loan recipients, Mrs. Omolola thanked Accion Microfinance Bank for considering people living with impaired disabilities and promised to ensure the loans were repaid when due.
                        <br/><br/>
                        Accion Microfinance Bank aims to utilize the MSMED Funds for sustainable development towards financial inclusion. The MSMED Fund forms part of the CBN framework for developmental functions which aims to promote financial inclusion in Nigeria through the provision of funding to micro-entrepreneurs.
                    </div>
                </div>
            </div>
        </section>
        <div th:insert="~{footer :: accionMFBFooter}"></div>
    </body>
</html>
