<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}">Accion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="~{header :: accionMFBHeader}"></div>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="h5">My Agent Loan</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/products/brighta-loans}">Loans</a></li>
                            <li class="breadcrumb-item active">My Agent Loan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <section class="bar">
                    <div class="row portfolio-project">
                        <div class="col-sm-3">
                            <!-- MENUS AND WIDGETS -->
                            <div class="panel panel-default sidebar-menu with-icons">
                                <div th:insert="~{brightaLoans :: loanSideMenu}"></div>

                            </div>
                            <div class="panel panel-default sidebar-menu with-icons">
                                <div class="panel-heading">
                                    <h3 class="h4 panel-title">Brighta Accounts</h3>
                                </div>
                                <div th:insert="~{brightaProducts :: productSideMenu}"></div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="project-more">
                                <div th:insert="~{brightaLoans :: loanCarousel}"></div>
                                <h4>My Agent Loan</h4>
                                <p>This is a short term working capital type of loan for agent banking clients of Accion MfB.</p>
                                <div class="card-deck">
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Features</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Access to loan for as low as N50,000.00 up to N1m </li>
                                                <li class="list-group-item">Equity contribution applicable</li>
                                                <li class="list-group-item">3% & 2.5% interest at a reducing balance for 1st loan and subsequent loan respectively.</li>
                                                <li class="list-group-item">1% commitment fee, 1% Insurance & 1% Admin fee</li>
                                                <li class="list-group-item">Has advantage to determine your interest rate</li>
                                                <li class="list-group-item">Repayment of 1 to 3 months</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Benefits</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Easy Loan Procedure</li>
                                                <li class="list-group-item">Affordable and Convenient Loan</li>
                                                <li class="list-group-item">Low interest rate</li>
                                                <li class="list-group-item">Opportunity to grow business with Accion MfB</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Requirements</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Must be an existing customer of the bank with a current loan</li>
                                                <li class="list-group-item">Must achieve a score card rating of AA or A in previous loan repayment</li>
                                                <li class="list-group-item">Viable business</li>
                                                <li class="list-group-item">Guarantor </li>
                                                <li class="list-group-item">And any other document that might be requested for by Accion MfB</li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a th:href="@{/career/career-path}" class="btn btn-default">Open Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div th:insert="~{footer :: accionMFBFooter}"></div>
    </body>
</html>
