<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}">Accion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="~{header :: accionMFBHeader}"></div>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="h5">My Own Loan Plus</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/products/brighta-loans}">Loans</a></li>
                            <li class="breadcrumb-item active">My Own Loan Plus</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <section class="bar">
                    <div class="row portfolio-project">
                        <div class="col-sm-3">
                            <!-- MENUS AND WIDGETS -->
                            <div class="panel panel-default sidebar-menu with-icons">
                                <div th:insert="~{brightaLoans :: loanSideMenu}"></div>
                            </div>
                            <div class="panel panel-default sidebar-menu with-icons">
                                <div class="panel-heading">
                                    <h3 class="h4 panel-title">Brighta Accounts</h3>
                                </div>
                                <div th:insert="~{brightaProducts :: productSideMenu}"></div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="project-more">
                                <div th:insert="~{brightaLoans :: loanCarousel}"></div>
                                <h4>My Own Loan Plus</h4>
                                <p>This is a working capital type loan available to Micro and Medium customers.</p>
                                <div class="card-deck">
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Features</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Access to a higher loan amounts of N400,000.00 to N1 million</li>
                                                <li class="list-group-item">Flexible collateral</li>
                                                <li class="list-group-item">6 to 12 months tenor</li>
                                                <li class="list-group-item">Competitive Interest rate @ 6% reducing balance</li>
                                                <li class="list-group-item">Insured loan of 1%.</li>
                                                <li class="list-group-item">Admin fee of 1%</li>
                                                <li class="list-group-item">Commitment fee of 1%</li>
                                                <li class="list-group-item">10% Equity contribution</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Benefits</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Third party withdrawal</li>
                                                <li class="list-group-item">Flexible and easy collateral</li>
                                                <li class="list-group-item">Competitive interest rate</li>
                                                <li class="list-group-item">Opportunity to grow business with Accion MfB</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card border-secondary">
                                        <div class="card-header text-center">Requirements</div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Prove of business ownership and experience</li>
                                                <li class="list-group-item">A/C opening required </li>
                                                <li class="list-group-item">Viable business</li>
                                                <li class="list-group-item">Guarantor </li>
                                                <li class="list-group-item">And any other document that might be requested for by Accion MfB</li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a th:href="@{/career/career-path}" class="btn btn-default">Open Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div th:insert="~{footer :: accionMFBFooter}"></div>
    </body>
</html>
