<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="contactUsSideMenu">
            <div class="panel-body">
                <ul class="nav nav-pills flex-column text-sm">
                    <li class="nav-item"><a th:href="@{/contact/contact-us}" class="nav-link active">Our Contact</a></li>
                    <li class="nav-item"><a th:href="@{/contact/branch-network}" class="nav-link">Branch Network</a></li>
                    <li class="nav-item"><a th:href="@{/contact/atm-network}" class="nav-link">Locate Our ATM</a></li>
                    <li class="nav-item"><a th:href="@{/contact/frequently-asked-questions}" class="nav-link">Frequently Asked Question</a></li>
                    <li class="nav-item"><a th:href="@{/contact/feedback}" class="nav-link">Feedback</a></li>
                    <li class="nav-item"><a th:href="@{/contact/whistle-blowing}" class="nav-link">Whistle Blowing</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>pdown-item