<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}">Accion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="~{header :: accionMFBHeader}"></div>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-4">
                        <h1 class="h5">Feedback</h1>
                    </div>
                    <div class="col-md-8">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/contact/contact-us}">Contact Us</a></li>
                            <li class="breadcrumb-item active">Feedback</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <section class="bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- MENUS AND WIDGETS -->
                        <div class="panel panel-default sidebar-menu with-icons">
                            <div class="panel-body">
                                <div th:insert="~{contactUs :: contactUsSideMenu}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card border-secondary bg-light mb-3 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="card-header text-center text-bold text-center">Contact Accion MfB</div>
                            <div class="card-body text-secondary">
                                <form id="contactUsForm" th:action="@{/contact/submit-contact-form}" th:object="${contactUsForm}" method="POST">
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Surname</div>
                                        <div class="col-sm-6"><input type="text" class="form-control form-control-sm" th:field="*{surname}" placeholder="Surname"/></div>
                                        <div class="col-sm-3 form-control-sm"><span th:if="${#fields.hasErrors('surname')}" class="help-block" th:errors="*{surname}"></span></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Other Names</div>
                                        <div class="col-sm-6"><input type="text" class="form-control form-control-sm" th:field="*{otherNames}" placeholder="First name and middle name"/></div>
                                        <div class="col-sm-3 form-control-sm"><span th:if="${#fields.hasErrors('otherNames')}" class="help-block" th:errors="*{otherNames}"></span></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Email</div>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control form-control-sm" th:field="*{email}" placeholder="Email like : brian@accion.com"/>
                                        </div>
                                        <div class="col-sm-3 form-control-sm">
                                            <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Phone Number</div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-sm" th:field="*{phoneNumber}" placeholder="Phone number"/>
                                        </div>
                                        <div class="col-sm-3 form-control-sm">
                                            <span th:if="${#fields.hasErrors('phoneNumber')}" class="help-block" th:errors="*{phoneNumber}"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Subject</div>
                                        <div class="col-sm-6">
                                            <select th:field="*{subject}"  class="form-control form-control-sm">
                                                <option value="">--Select--</option>
                                                <option th:each="subj : ${enquiryCategories}" 
                                                        th:value="${subj}" 
                                                        th:text="${subj}">
                                                </option>
                                            </select> 
                                        </div>
                                        <div class="col-sm-3 form-control-sm">
                                            <span th:if="${#fields.hasErrors('subject')}" class="help-block" th:errors="*{subject}"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-3 form-control-sm">Message</div>
                                        <div class="col-sm-6">
                                            <textarea class="form-control form-control-sm" th:field="*{message}" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-sm-3 form-control-sm">
                                            <span th:if="${#fields.hasErrors('message')}" class="help-block" th:errors="*{message}"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-row">
                                        <div class="col-sm-3"></div>
                                        <div class="form-actions col-6">
                                            <button type="submit" class="btn btn-template-outlined"><i class="fa fa-envelope-o"></i> Send message</button>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:insert="~{footer :: accionMFBFooter}"></div>
    </body>
</html>
