<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}">Accion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="~{header :: accionMFBHeader}"></div>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="h2">Accion Media</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Accion Milestone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <section class="bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- MENUS AND WIDGETS -->
                        <div class="panel panel-default sidebar-menu with-icons">
                            <div class="panel-heading">
                                <h3 class="h4 panel-title">Accion Milestone</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills flex-column text-sm">
                                    <li class="nav-item"><a th:href="@{/media/news-and-events}" class="nav-link active">News and Events</a></li>
                                    <li class="nav-item"><a th:href="@{/media/press-release}" class="nav-link">Press Release</a></li>
                                    <li class="nav-item"><a th:href="@{/media/milestone}" class="nav-link">Accion Milestone</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div id="accordion" role="tablist" class="mb-5">
                            <div class="card">
                                <div id="milestoneCard" role="tab" class="card-header">
                                    <h5 class="mb-0"><a data-toggle="collapse" href="#milestone" aria-expanded="true" aria-controls="milestone">CIBN Commends Accion Microfinance Bank - 2015/02/10</a></h5>
                                </div>
                                <div id="milestone" role="tabpanel" aria-labelledby="milestone" data-parent="#accordion" class="collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">January 2018 </div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins award by the Fintech Association of Nigeria and Fintech Associates Ltd in recognition of her contributions to the development of Nigerian’s Fintech Ecosystem.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">November 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins Microfinance Bank of the year award by Nigeria Entrepreneurs Award.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">November 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB begins operations in Iwo Road, Apata and Bodija branches.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">October 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB commences operations at Ojuore Cash Centre.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB begins operations in Main Market & Bridgehead branches, Onitsha in Anambra State & Rumuokoro in Rivers State.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">August 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB begins operation in Oyo State at Dugbe & Molete branches. 
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">June 2016 </div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB held her 10th Annual General meeting at Protea Hotel.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">May 2016</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB commences operations in Ogun State with two branches Sango & Akute & Mile 3 in Rivers State
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2015</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB launches a new loan product for persons living with imparied disability - PLWD - and disburses loans to them.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">August 2015</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB commences operations in its first branch in Port Harcourt, Rivers State as the bank begins its expansion across Nigeria.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">June 2015</div>
                                            <div class="col-md-9" style="text-align: justify">The bank disburses over N1billion in loans within one month.                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">May 2015</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB holds 9th Annual Genral Meeting and announces its rebranding - unveiling the bank's new logo. 
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">December 2014</div>
                                            <div class="col-md-9" style="text-align: justify">Accion MfB wins Award for Most Outstanding Microfinance Bank in ICT Usage.                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">December 2014</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins EFInA Award for the Service Provider that Deepens Financial Inclusion in Nigeria.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">October 2014</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins LEAD Award for Best Microfinance Bank of the Year for the 4thtime.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2014</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB disburses N7.4bn in loans to customers from January 2014 to Sept. 2014.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">March 2014</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                The 21st Branch is opened in Ajah, Lagos.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">December 2013</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins LEAD Award for Best Microfinance Bank of the Year for the 3rdconsecutive year.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">December 2013</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Best Savings and Loan customers are rewarded at the Annual Customer Forum.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">November 2013</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Instant ATM Cards are issued to customers.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">October 2012 </div>
                                            <div class="col-md-9" style="text-align: justify">
                                                The bank wins LEAD Award for Best Microfinance Bank of the Year for the 2ndtime.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2012</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                E-services commence with the disbursement of ATM Cards and POS machines.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">April 2012</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB wins Best Place To Work Award.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">August 2011</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB is announced winner of the Lagos State Enterprise Award (LEAD) for Best Microfinance Bank 2011.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">June 2011</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                The bank is nominated for Best Performing MFI by Global Microfinance Achievement Awards.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">November 2010</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MFB Head Office relocates to Elizade Plaza, Ikorodu Road, Lagos.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">October 2009</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB is 2nd runner up as Microfinance Bank of the Year at the African Bankers Awards.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2009</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                The first stand-alone branch is opened at Oke-Arin.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">June 2009</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Another branch opens at Ikotun.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">August 2008</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Three more branches opened at Ogba, Idumagbo, Pen Cinema and Isale-Oja all in Lagos.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">July 2008</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion MfB commences using the T24 R05 banking application.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">December 2007</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                The 1st Annual Customer Forum is held in Lagos.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">September 2007</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Operations commence at Balogun Business Association (BBA), Ladipo and Idioro Branches.
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">May 2007</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Banking operations commence at the 1stAccion MfB branch at Oke-Arin (embedded in Ecobank).
                                            </div>
                                        </div><hr/>
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: justify">May 2006</div>
                                            <div class="col-md-9" style="text-align: justify">
                                                Accion Microfinance Bank is incorporated.
                                            </div>
                                        </div><hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <div th:insert="~{footer :: accionMFBFooter}"></div>
    </body>
</html>
